/*
Theme Name: Big Tex Trailers
Theme URI: http://bigtextrailers.com/
Version: 1.0
Description: This theme was created by hand with the love and care of the Big Tex Trailer Marketing Team. It uses Twitter's Bootstrap version 3.0.3, Fontawesome's icons, and Google's web fonts. It is intended to be viewed in modern browsers (>=IE9). We have made this an ultra-awesome, ultra-amazing, ultra-stupendous marketing tool with tight graphics, cutting-edge coding, and breathtaking SEO. It is a marketing bazooka. BOOM!!!
Author: Big Tex Trailers Marketing Team
Author URI: http://bigtextrailers.com/
*/

/*20AC play button*/

.play-video img:hover{opacity:.7;}

/*promotional pages*/

/*12 days of Christmas*/
#ChristmasPage {background-color:#fff; color:#197B30;}
#ChristmasPage .main {background-image:none; background-color:#fff; padding:0px;}
#ChristmasPage h2.subheader {display:none;}
#ChristmasPage .content {padding-top:0px;}
#ChristmasPage .container-fluid {}
#ChristmasPage .warrantyBtn {display:none;}
#ChristmasPage h2 {color:#FE0000;}
#ChristmasPage h3 {color:#FE0000;}
#ChristmasPage .Xmasp {text-align:center;}
#ChristmasPage.fsBody.fsEmbed {width:33%!important;margin-top:0px!important; padding-top:0px!important;}
#ChristmasPage #field47736429 {width:33%!important;}
#ChristmasPage.fsForm .fsSubmit {margin-top:0px!important; padding-top:0px!important;}
#ChristmasPage a {color:#fe0000;}
#ChristmasPage #fsSubmit2540480{text-align:left;padding-top:0px;margin-top:0px;}
#ChristmasPage #fsForm2540480 {padding-top:0px;margin-top:0px;padding-bottom:0px;margin-bottom:0px;}
#ChristmasPage .fsBody{padding-top:0px;margin-top:0px;}
#ChristmasPage .fsNextButton .fsPreviousButton .fsSubmitButton {background-color:#FE0000!important;}

.page-id-4171 h2.subheader {color:#FFF200!important;margin-left:380px;}

.promo a:hover,
.promo a:focus{text-decoration:none;}
a .clicker,
a:hover .clicker,
a:focus .clicker{
	background:rgb(242,66,44);
	background:-moz-linear-gradient(top, rgba(242,66,44,1) 0%, rgba(242,66,44,1) 50%, rgba(148,24,35,1) 50%, rgba(161,30,35,1) 100%);
	background:-webkit-linear-gradient(top, rgba(242,66,44,1) 0%,rgba(242,66,44,1) 50%,rgba(148,24,35,1) 50%,rgba(161,30,35,1) 100%);
	background:linear-gradient(to bottom, rgba(242,66,44,1) 0%,rgba(242,66,44,1) 50%,rgba(148,24,35,1) 50%,rgba(161,30,35,1) 100%);
	border-radius:4px;
	color:#FFF;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2422c', endColorstr='#a11e23',GradientType=0 );
	font-weight:700;
	margin-top:5px;
	padding:3px;
	text-transform:uppercase;
}
.rules-container{
	background-color:#191919;
	border:1px solid #333;
	height:125px;
	margin-top:15px;
	padding:15px;
	overflow-y:scroll;
}
.nfrUp{
	background-image: url(/wp-content/uploads/2016/07/nfr_bg.jpg);
	background-size:cover;
}
.nfrFeat{
	margin:20px 0 10px 0;
}
.nfrLow{}
.nfrAbout{
	margin: 20px 0 20px 0;
}
.nfrBull{
	margin-bottom:10px;
}
.nfrTabButton{        

 	background: #424242;
	color: #fff200;
	margin-top: -30px;
        border-radius: 15px 15px 0px 0px;
	padding-top:12px;
	height:50px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;

}
.nfrSectionBkg{

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#424242+56,424242+100&1+56,0.19+100 */
background: -moz-linear-gradient(top,  rgba(66,66,66,1) 56%, rgba(66,66,66,0.19) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(66,66,66,1) 56%,rgba(66,66,66,0.19) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(66,66,66,1) 56%,rgba(66,66,66,0.19) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#30424242',GradientType=0 ); /* IE6-9 */


	padding-top: 15px;
}
.nfrRopeDivider{padding-bottom: 15px;}
.nfr-logos {
    margin-top: -120px;
    margin-bottom: 20px;
}
.display-none{display:none;}
.wrangler-header{margin-bottom:60px;}
/*end promo pages*/
html{-ms-overflow-style: scrollbar;}
.warrantyBtn{
	background:url(images/register_warranty_img2.jpg) no-repeat;
	border-bottom:1px solid #f2da16;
	border-left:1px solid #f2da16;
	border-top:1px solid #f2da16;
	display:block;
	height:200px;
	overflow:hidden;
	position:fixed;
	right:0;
	text-indent:-9999px;
	top:200px;
	white-space:nowrap;
	width:40px;
	z-index:9000;	
}
.haulidazeBtn{
	background:url(images/haulidays_static_banner.jpg) no-repeat;
	/*border-bottom:1px solid #f2da16;
	border-left:1px solid #f2da16;
	border-top:1px solid #f2da16;*/
	display:block;	
	overflow:hidden;
	position:fixed;
	left:0;
	text-indent:-9999px;
	top:69px;
	white-space:nowrap;
	width:300px;
	height:530px;
	z-index:9000;	
}

.close-button {
    background: url(images/close-button.png) no-repeat;
    display: block;
    overflow: hidden;
    position: fixed;
    left: 276px;
    text-indent: -9999px;
    top: 72px;
    white-space: nowrap;
    width: 20px;

    height: 20px;
    z-index: 9999;
}
.close-button:hover{opacity:0.5;}
.hide-haulidaze{display:none;}
.table .clickrow td{cursor:pointer;}
.gv-notice{color:#000;}
#loginform input{color:#000;}
iframe{border:none;}
.uppercase{text-transform:uppercase;}
.rightuppercase{
	text-align:right;
	text-transform:uppercase;
}
.leftuppercase{
	text-align:left;
	text-transform:uppercase;
}
.centeruppercase{
	text-align:center;
	text-transform:uppercase;
}
.aligncenter,
div.aligncenter{
	display:block;
	margin:5px auto;
}
.alignright{
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}
.aligncenter{
	display:block;
	margin:5px auto;
}
a img.alignright{
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone{margin:5px 20px 20px 0;}
a img.alignleft{
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter{
	display:block;
	margin-left:auto;
	margin-right:auto
}
#slider.carousel .item{
	-webkit-transition:opacity 4s; 
	-moz-transition:opacity 4s; 
	-ms-transition:opacity 4s; 
	-o-transition:opacity 4s; 
	transition:opacity 4s;
}
#slider.carousel .active.left{
	left:0;
	opacity:0;
	z-index:2;
}
#slider.carousel .next{
	left:0;
	opacity:1;
	z-index:1;
}
.nav.navbar-nav.bt > li{float:left;}
.nav.navbar-nav.bt > li > a{padding:15px 15px;}
.nav.navbar-nav.bt{margin:0;}
.imgReplace{
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	white-space:nowrap;
}
input:focus:invalid, 
textarea:focus:invalid, 
select:focus:invalid{
	border-color:#EE5F5B;
	color:#B94A48;
}
input:focus:invalid:focus, 
textarea:focus:invalid:focus, 
select:focus:invalid:focus{
	border-color:#E9322D;
	box-shadow:0 0 6px #F8B9B7;
}
form br{display:none;}
.required{
	color:#F00;
	font-weight:700;
}
aside section{margin-bottom:20px;}
aside section:last-child{margin:0;}
.go-top{
	position:fixed;
	bottom:2em;
	right:2em;
	text-decoration:none;
	color:white;
	background-color:rgba(26, 26, 26, 0.3);
	font-size:12px;
	padding:1em;
	display:none;
}
.go-top:hover{background-color:rgba(26, 26, 26, 0.6);}
.embed-responsive.embed-responsive-16by9.bt{margin:15px 0;}

/* Holiday Buttton */

.holiday-button{/*background:url(/wp-content/uploads/2016/11/45LA_haulidays-button-3.png) no-repeat width="300" height="300";*/ }
.hide-holiday-button{display:none;}


.holidayImage{/*margin-top:-150px; margin-left: 100px;*/}
/*.holiday-rebate-form .fsEmbed .fsPage .fsFieldCell.fsSpan50, .holiday-rebate-form .fsPage .fsSubFieldGroup .fsBody.fsEmbed .fsSubField .fsSubField .fsNameLast{
    width: 50%;
}*/
.post-marked{font-size: 32px; font-weight:bold; color: #fff200; padding-top:50px;}
.section-spacer{height: 30px;}
.hideImage{}
header .menu-social-container{margin-top:10px;}
.holiday-rebate-form .fsBody{background: transparent;}
.holiday-rebate-form .fsBody .fsForm .fsSectionHeading,  .holiday-rebate-form .fsSectionHeader{
    font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #f2da16;
    text-align:left;
    text-transform:uppercase;
}
.holiday-rebate-form .fsReadOnly textarea {
    padding-left: 0!important;
    padding-right: 0!important;
    border: 0!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    -ms-filter: "alpha(Opacity=45)";
    opacity:1;
}
.holiday-rebate-form .fsBody .fsSectionHeader {
    padding: 0px;
}
.holiday-rebate-form .fsBody input {    
    background: #fff;
    color: #000;
    margin-bottom: -1px;
}
.holiday-rebate-form .fsForm .ui-slider-handle, .fsForm input, .fsForm select, .fsForm textarea {
    -moz-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    -webkit-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    margin-bottom: -1px;
}
.holiday-rebate-form .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(2).fsNameLast, .fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(1).fsNameLast, .holiday-rebate-form .fsSubFieldGroup .fsSubField:nth-child(1):nth-last-child(2).fsNameFirst, .fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(1).fsNameFirst {
    width: 100%;
}
.holiday-rebate-form .fsSubFieldGroup .fsSubField:nth-child(2):nth-last-child(1).fsNameLast {
    width: 100%;
}
.holiday-row{padding-left:20px;}

/* Holiday Landing Page*/

.holiday-landing-header{
	/*background:url(/wp-content/uploads/2016/11/holidays-landing-header-bg.jpg) no-repeat;
	height:918px;*/
	
	
}
.mainholiday{background: #fff; margin-top:100px;}
.hauliday-category-bg{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1caf01+0,116802+66,1cb001+100 */
background: rgb(28,175,1); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(28,175,1,1) 0%, rgba(17,104,2,1) 66%, rgba(28,176,1,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(28,175,1,1) 0%,rgba(17,104,2,1) 66%,rgba(28,176,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(28,175,1,1) 0%,rgba(17,104,2,1) 66%,rgba(28,176,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1caf01', endColorstr='#1cb001',GradientType=0 ); /* IE6-9 */


    padding: 15px 0 0 0;
}

.white-body{
	
	/*background: url(/wp-content/uploads/2016/11/holidays-landing-header-bg-1200.jpg) no-repeat #fff;
    background-position: center top;*/
	background: #fff;
	color: #000;
	
}
.white-body a, .nfr-white-body a{color: #17a550;}
.white-body a:hover, .nfr-white body a:hover{color: #ff0000;}

.highlight-green{color: #17a550;}
.highlight-white{color: #fff; 
	font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
	text-transform:uppercase;}
.redeembtn{
	background: #17a550; 
	color: #fff; 
	font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
	text-transform:uppercase;
}
.redeembtn:hover{color: #fff !important; background: #ff0000;}

.mail-box{
	background: #ffd300; 
	color: #fff; 
	font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
	text-transform:uppercase;
	font-size:24px;
	padding:15px 0 15px 0;
}
.mail-box-title{
	color: #000; 
    font-family: "Arial",Helvetica,Arial,sans-serif;
    font-weight: bold;
    line-height: 1.1;
    color: #000;
	font-size:24px;
}
.mail-box-address{
	color: #000; 
    font-family: "arial",Helvetica,Arial,sans-serif;    
    line-height: 1.1;
    color: #000;
	font-size:24px;
}


.gift-card{
	color: #888a90; 
	font-family: "Oswald",Helvetica,Arial,sans-serif;
    	font-weight: 700;
    	line-height: 1.1;
	text-transform:uppercase;
    
	}
.ammount{
	color: #ff0000; 
	font-family: "Oswald",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
	text-transform:uppercase;
    
	}
.redeemed-by-mailin{
	color: #888a90; 
	font-family: "Arial",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1;
	text-transform:uppercase;
	}
.terms-conditions{
	border:1px solid #ccc; 
	border-radius:15px 15px 0 0; 
	height: 50px;
	color: #888a90;
	padding-top:14px;
	font-weight:bold;
}

.gift-card-section {
    /*background: #fbfdf9;*/
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: -1px;
}
.haul-in{
	color: #000; 
    	font-family: "Oswald",Helvetica,Arial,sans-serif;
    	font-weight: 700;
    	line-height: 1.1;
    	color: #000;
	font-size:30px;
}
.haul-in-content{margin-top:60px; margin-bottom: 20px;}
.white-body .ytp-generic-popup, .white-body .ytp-popup{display:none;}
.by-mail-section, .by-electron-section{margin-top:120px;}
.redeem-by-mail{color: #888a90; }
.terms-section{color: #888a90; margin-top: 60px; font-size:12px;}
.back-home:hover{opacity:.8;}
.social-menu {
    background: transparent;
    color: #000;
    margin-top: -321px;
    padding-left: 60px;
}
.social-menu img:hover, .nfr-social-menu img:hover{opacity:.8!important;}
.nfr-social-menu {
    background: transparent;
    color: #000;
    margin-top: -400px;
    padding-left: 60px;
}
.nfr-white-body {
    background: url(/wp-content/uploads/2016/11/nfr-haulidays-header-bg.png) #fff 0px -379px;
    background-repeat: repeat-x;
	color: #000;
}
.nfr-haul-in-content {
    margin-top: 90px;
}
.nfr-gift-card-section {
    /*background: #fbfdf9;*/
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: -1px;
}
/*.nfr-gift-card-section img{

-webkit-box-shadow: -1px 0px 78px 0px rgba(0,0,0,0.38);
-moz-box-shadow: -1px 0px 78px 0px rgba(0,0,0,0.38);
box-shadow: -1px 0px 78px 0px rgba(0,0,0,0.38);

}*/
/*referral form*/
.referral-form .fsFieldCell.fsSpan50 {
    /*width: 50%;*/
}
.slogan{
	color:#FFF200;
	font-family:'Lobster', cursive;
	font-size:26px;
	margin:0 120px 0 0;
}
.navbar.bt{
	border-bottom:2px solid #606060;
	border-left:none;
	border-right:none;
	border-top:2px solid #474545;
	border-radius:0;
	box-shadow:none;
	margin-top:60px;
}
.navbar.bt .navbar-brand{
	margin-top:-50px;
	padding:0;
}
.navbar-default.bt{margin-bottom:0;}
.navbar-default.bt .navbar-nav > li > a{text-transform:uppercase;}
.navbar-default.bt .devider{
	background:url(images/menuDivider.png) no-repeat;
	height:48px;
	width:3px;
}
.navbar-default.bt .navbar-toggle:hover, 
.navbar-default.bt .navbar-toggle:focus{background-color:#FFF200;}
.navbar-default.bt .navbar-toggle:hover .fa, 
.navbar-default.bt .navbar-toggle:focus .fa{color:#000;}
.bt .dropdown-menu{
	background:#000;
	background:-moz-linear-gradient(top, #000000 0%, #333333 99%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(99%,#333333));
	background:-webkit-linear-gradient(top, #000000 0%,#333333 99%);
	background:-o-linear-gradient(top, #000000 0%,#333333 99%);
	background:-ms-linear-gradient(top, #000000 0%,#333333 99%);
	background:linear-gradient(to bottom, #000000 0%,#333333 99%);
	border-radius:0;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333',GradientType=0 );
}
.bt .dropdown-menu > li > a{
	color:#FFF;
	padding:5px 20px;
}
.bt .dropdown-menu > li > a:hover,
.bt .dropdown-menu > li > a:focus{
	background-color:#000;
	background-image:none;
	color:#F2DA16;
}
.bt .dropdown-menu > .active > a{color:#000;}
.main{
	background:#000;
	background-image:url(images/mainBG.jpg);
	background-repeat:repeat-x;
	padding:0 30px;
}
#homeSlider img{border:2px solid #5a5a5b;}
#homeSlider .caption{
	background:#5a5a5b;
	line-height:22px;
	text-align:center;
}
#homeSlider .caption a{color:#FFF;}
#homeSlider .carousel-control{top:40%;}
#homeSlider .carousel-control.left{left:-60px;}
#homeSlider .carousel-control.right{right:-60px;}
#homeSlider{margin:20px 0;}
footer{
	background:url(images/footerLine.png) no-repeat top;
	margin-top:30px;
	padding:45px 0 0;
}
footer .menu{
	border-right:5px solid #1d1d1d;
	margin-bottom:30px;
	min-height:235px;
}
.menu-trailers-container a,
.menu-trailer-options-container a,
.menu-quick-links-container a{color:#FFF;}
.menu-trailers-container a:hover,
.menu-trailers-container a:focus,
.menu-trailer-options-container a:hover,
.menu-trailer-options-container a:focus,
.menu-quick-links-container a:hover,
.menu-quick-links-container a:focus{color:#f2da16;}
.gray{
	background:#444444;
	background:-moz-linear-gradient(top, #444444 0%, #262626 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#262626));
	background:-webkit-linear-gradient(top, #444444 0%,#262626 100%);
	background:-o-linear-gradient(top, #444444 0%,#262626 100%);
	background:-ms-linear-gradient(top, #444444 0%,#262626 100%);
	background: linear-gradient(to bottom, #444444 0%,#262626 100%);
	border-bottom:2px solid #474747;
	box-shadow:0px 2px 0px 0px rgba(0, 0, 0, 0.2);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#262626',GradientType=0 );
	padding:10px 0;
}
.dark{
	background:#010101;
	background:-moz-linear-gradient(top, #010101 0%, #1b1c1b 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#010101), color-stop(100%,#1b1c1b));
	background:-webkit-linear-gradient(top, #010101 0%,#1b1c1b 100%);
	background:-o-linear-gradient(top, #010101 0%,#1b1c1b 100%);
	background:-ms-linear-gradient(top, #010101 0%,#1b1c1b 100%);
	background:linear-gradient(to bottom, #010101 0%,#1b1c1b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#010101', endColorstr='#1b1c1b',GradientType=0 );
	padding:15px 0;
}
.menu-social-container{margin-top:20px;}
.menu-social-container a .fa-circle{text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);}
.menu-social-container a:hover .fa-circle,
.menu-social-container a:focus .fa-circle{text-shadow:none;}
.facebook .fa.fa-circle{color:#3B5999;}
.facebook a:hover .fa.fa-circle,
.facebook a:focus .fa.fa-circle{color:#31508E;}
.google .fa.fa-circle{color:#D33D2C;}
.google a:hover .fa.fa-circle,
.google a:focus .fa.fa-circle{color:#BF3222;}
.youtube .fa.fa-circle{color:#b31217;}
.youtube a:hover .fa.fa-circle,
.youtube a:focus .fa.fa-circle{color:#910A0C;}
.twitter .fa.fa-circle{color:#00B0ED;}
.twitter a:hover .fa.fa-circle,
.twitter a:focus .fa.fa-circle{color:#029FD3;}
.instagram .fa.fa-circle{color:#447398;}
.instagram a:hover .fa.fa-circle,
.instagram a:focus .fa.fa-circle{color:#376182;}
.btn.btn-custom{white-space:normal;}
.btn.bt{white-space:normal;}
.btn-custom{
  background-color:#000;
  border-color:#000;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active{
  background-color:#000;
  border-color:#000;
	color:#f2da16!important;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active{
  background-color:#000;
  border-color:#000;
}
.bt.trailers,
.bt.options{
	background:url(images/stripedBG.png) repeat;
	border:1px solid #676767;
	padding:15px;
}
.bt.options h3{margin-top:0;}
.bt.trailers a:hover,
.bt.trailers a:focus{text-decoration:none!important;}
.bt.trailers h3{
	color:#FFF;
	margin-top:0;
}
.bt.trailers h3 .yellow,
h2.bt.post .yellow,
h2.widgettitle .yellow,
.yellow{color:#f2da16;}
h2.widgettitle .yellow{display:block;}
.bt.trailers h3 .red,
h2.bt.post .red,
.red{color:#EA0006;}
.widget_text h2.widgettitle{
    font-size:35px;
		text-align:center;
}
.widget_nav_menu h2.widgettitle{
	font-size:26px;
	margin-top:50px;
}
.widget_nav_menu h2.widgettitle,
.widget_text h2.widgettitle{
    color:#acacac;
    text-transform:uppercase;
}
blockquote footer{
	background:none;
	margin-top:0;
	padding:0;
}
aside .menu-trailers-container ul{
	list-style:none;
	padding:0;
}
aside .menu-trailers-container a{
	font-size:16px;
	line-height:36px;
}
aside .menu-trailers-container a:hover,
aside .menu-trailers-container a:focus,
aside .menu-trailers-container .current-menu-item a{
	color:#f2da16;
	text-decoration:none;
}
.bt.trailers .wp-post-image{border:1px solid #777677;}
hr.trailersHR{
	border-color:#515252;
	border-width:4px 0 0;
}
h2.bt,
h3.bt{
	color:#acacac;
	font-size:25px;
	text-transform:uppercase;
}
.content{padding-top:40px;}
.table.bt > thead > tr > th, 
.table.bt > tbody > tr > th, 
.table.bt > tfoot > tr > th, 
.table.bt > thead > tr > td, 
.table.bt > tbody > tr > td, 
.table.bt > tfoot > tr > td{
	border-top:none;
	font-size:12px;
}
.postInfo{
	background-color:rgba(0,0,0,.25);
	/*height:450px;*/
	padding:20px 30px;
}
h2.bt.post{
	font-size:32px;
	text-transform:none;
}
ul.bt li{font-size:12px;}
aside{background-color:rgba(209,209,209,.1);}
.cat{padding:10px;}
.mainsidebar{padding:10px 8px;}
.trailerImg{margin:30px 0;}
.grayBreaker{
	border-color:#1d1d1d;
	border-width:5px 0 0;
}
h4.subheader,
h2.headerarea{
	color:#FFF;
	font-size:30px;
	line-height:79px;
	margin:0;
	padding:0 30px;
	text-transform:uppercase;
}
h3.subheader,
h2.subheader{
	color:#FFF;
	display:inline-block;
	font-size:30px;
	line-height:79px;
	margin:10px 0;
	padding:0 20px;
  text-transform:uppercase;
}
h4.subheader,
h3.subheader,
h2.subheader{
	background-color:rgba(49,47,47,0.7);
	background-repeat:no-repeat;
  background-position:right;
 }
h2.headerarea{
	background:url(images/aboutheaderBG.png) no-repeat;
	margin-bottom:25px;
	width:380px;
}
.pager.bt li > a, 
.pager.bt li > span{
	background-color:#151515;
	border:1px solid #333;
}
.pager.bt li > a:hover,
.pager.bt li > a:focus{
	background-color:#272727;
	border:1px solid #444;
}
.bordered{border:2px solid #333;}
p.topSpace{margin-top:25px;}
section.post{border-bottom:5px solid #333;}
.page-id-10 .col-md-6 li{margin-bottom:3px;}
/*livechat*/
.livechat{
	background:#fff200;
	background:-moz-linear-gradient(top, #fff200 0%, #e0d500 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff200), color-stop(100%,#e0d500));
	background:-webkit-linear-gradient(top, #fff200 0%,#e0d500 100%);
	background:-o-linear-gradient(top, #fff200 0%,#e0d500 100%);
	background:-ms-linear-gradient(top, #fff200 0%,#e0d500 100%);
	background:linear-gradient(to bottom, #fff200 0%,#e0d500 100%);
	bottom:0;
	color:#FFF;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff200', endColorstr='#e0d500',GradientType=0 );
	font-size:18px;
	line-height:1.25;
	padding:10px 20px;
	position:fixed;
	right:6em;
	width:200px;
	z-index:200;
}
.livechat:hover{
	background:#e8dc00;
	background:-moz-linear-gradient(top, #e8dc00 0%, #d1c600 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8dc00), color-stop(100%,#d1c600));
	background:-webkit-linear-gradient(top, #e8dc00 0%,#d1c600 100%);
	background:-o-linear-gradient(top, #e8dc00 0%,#d1c600 100%);
	background:-ms-linear-gradient(top, #e8dc00 0%,#d1c600 100%);
	background:linear-gradient(to bottom, #e8dc00 0%,#d1c600 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8dc00', endColorstr='#d1c600',GradientType=0 );
}
.livechat a{color:#000;}
.livechat a:hover,
.livechat a:focus{
	color:#000;
	text-decoration:none;
}
.optionrow{margin-bottom:25px;}
.col-striping tbody td:nth-of-type(odd),
.col-striping tbody tr:nth-of-type(odd),
.col-striping thead th:nth-of-type(odd){background:rgba(0,0,0,1);}
.col-striping tbody td:nth-of-type(even),
.col-striping tbody tr:nth-of-type(even),
.col-striping thead th:nth-of-type(even){background:#222!important;}
.col-striping thead th{color:#F00!important;}
.btBox,
.btOptions{
	background:#565656;
	background:-moz-linear-gradient(top, #565656 0%, #171717 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#171717));
	background:-webkit-linear-gradient(top, #565656 0%,#171717 100%);
	background:-o-linear-gradient(top, #565656 0%,#171717 100%);
	background:-ms-linear-gradient(top, #565656 0%,#171717 100%);
	background:linear-gradient(to bottom, #565656 0%,#171717 100%);
	clear:both;
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#171717',GradientType=0 );
	margin-bottom:15px;
	padding:10px;
}
.btOptions{
	margin-top:15px;
	padding:20px;
}
.btOptions h4{text-align:center;}
.btOptions .pull-right.bt{margin-right:25px;}
.btOptions p{margin:0;}
.btBox h3{margin-top:5px;}
.btBox .imgBox{
	min-height:136px;
	margin-top:25px;
}
.lastestPost{
	background:#000;
	margin-bottom:15px;
	padding:5px 15px;
}
.archive-meta{margin-bottom:15px;}
.panel.bt{
	border:1px solid #333;
	border-radius:6px;
	overflow:hidden;
	padding:19px;
}
.iframeContainer{
	position:relative;
	padding-bottom:200%;
	height:0;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
}
.iframeContainer iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.home h2,
.home h3,
.home h4{color:#CCC;}
.container .jumbotron.bt{
	border-radius:0;
	padding-left:30px;
	padding-right:30px;
}
.jumbotron.bt{
	background-color:#3B3B3B;
	margin-top:20px;
	padding-bottom:18px;
	padding-top:18px;
}
.jumbotron.bt h1{
	color:#F2F2F2;
	font:400 60px "Open Sans", Helvetica, Arial, sans-serif;
	letter-spacing:-1px;
	margin:0;
	text-transform:uppercase;
}
.jumbotron.bt h2{
	color:#CCC;
	font:400 35px/40px "Open Sans", Helvetica, Arial, sans-serif;
	margin:0;
	text-shadow:none;
	text-transform:uppercase;
}
.jumbotron.bt .btn.bt{margin-top:35px;}
.jumbotron.bt .btn.advantage{margin-top:20px;}
.btHome h3{color:#f2da16;}
.btHome .fa-stack .fa-inverse{color:#000;}
.mc-webform.form-inline .form-control{margin-right:10px;} 
.page-template-page-news-php h2{margin-top:0;}
.post.news{margin:15px 0;}
#wpcf7-f1267-p1243-o1 p,
#wpcf7-f713-p12-o1 p{margin:0;}
.col-xs-12.col-sm-4.jb{margin-bottom:15px;}
.thumbnail.jb{
	background-color:#3B3B3B;
	border-color:#707070;
}
#nav_menu-3 h2.widgettitle{
	color:#FFF;
	font-size:21px;
	margin-top:10px;
}
.menu-become-a-dealer-container ul{
	list-style:none;
	padding:0;
}
.menu-become-a-dealer-container li{margin:5px 0;}
.menu-become-a-dealer-container a,
.menu-become-a-dealer-container a:hover,
.menu-become-a-dealer-container a:focus{color:#FFF;}
.navbar-default.bt .navbar-nav .open .dropdown-menu > .active > a, 
.navbar-default.bt .navbar-nav .open .dropdown-menu > .active > a:hover, 
.navbar-default.bt .navbar-nav .open .dropdown-menu > .active > a:focus{
	background-color:#e2cb0d;
  background-image:linear-gradient(to bottom, #f2da16 0px, #e2cb0d 100%);
	color:#000;
}
/*ultimate shortcodes skins*/
.su-tabs.bt{background:#000;}
.bt .su-tabs-nav span.su-tabs-current,
.bt .su-tabs-pane{
	background:#333;
	color:#FFF;
}
.bt .su-tabs-nav span:hover{
	background:#1E1E1E;
	color:#F8F8F8;
}
.bt .su-tabs-nav span{
	border-bottom:1px solid #333;
	border-left:1px solid #333;
	border-top:1px solid #333;
	color:#f2da16;
}
.bt .su-tabs-panes h1,
.bt .su-tabs-panes h2,
.bt .su-tabs-panes h3,
.bt .su-tabs-panes h4{margin:10px 0;}
/*end ultimate shortcodes skin*/
#user_login,
#wp-submit,
#user_pass{color:#000;}
#gform_wrapper_4.gform_wrapper{
	background-color:transparent;
	padding:0;
}
#gform_wrapper_4.gform_wrapper ul{
	margin-bottom:0;
	margin-left:-15px;
  margin-right:-15px;
	padding-bottom:0;
	padding-left:0;
	padding-top:0;
}
#gform_wrapper_4.gform_wrapper li{
	float:left;
	padding-left:15px;
  padding-right:15px;
	width:25%;
}
#gform_submit_button_4{margin-top:20px;}
/*gravity forms*/

/*--------------------------------------------------FORMSTACK------------------------------------------------*/


.fsBody .fsForm .fsPage .fsSectionHeader{background-color:transparent;}
.fsBody.fsEmbed .fsForm{background-color:transparent;}
.fsboxshadow .fsBody.fsEmbed .fsForm{box-shadow:none;}
.fsBody.fsEmbed{
	color:inherit;
	font:inherit;
}
.fsborderradius .fsBody.fsEmbed .fsSectionHeader{margin:0;}
.fsBody.fsEmbed .fsSectionHeader{background-color:transparent;}
.fsBody.fsEmbed .fsSubField{
	margin-right:2%;
	width:49%;
}
.fsBody.fsEmbed .fsSubField:nth-child(2){margin-right:0;}
.fsBody.fsEmbed .fsForm .fsSubmit{background-color:transparent;}
.fsBody.fsEmbed .fsSubmit input.fsSubmitButton{padding:10px 16px;}
.fsBody.fsEmbed .fsFieldRow input[type="email"], 
.fsBody.fsEmbed .fsFieldRow input[type="number"], 
.fsBody.fsEmbed .fsFieldRow input[type="tel"], 
.fsBody.fsEmbed .fsFieldRow input[type="text"], 
.fsBody.fsEmbed .fsForm textarea,
.fsBody.fsEmbed .fsForm select{
	background-color:#fff; 
	border:1px solid #ccc; 
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);
	color:#555;
	font-size:14px;
	height:34px; 
	line-height:1.428571429;
	max-width:100%; 
	padding:6px 12px; 
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	vertical-align:middle; 
	width:100%;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);  
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.fsBody.fsEmbed .fsForm .fsRowBody{border:1px solid rgba(0,0,0,0.00);}
.fsBody.fsEmbed .fsForm .fsFieldFocused{}
.fsBody.fsEmbed .fsForm #fsPage2273949-1 .fsFieldFocused{}
.fsBody.fsEmbed .fsForm .fsSectionHeading,
.fsBody.fsEmbed .fsForm .fsSectionText{font-family:inherit;}
.fsBody.fsEmbed textarea.fsField{height:auto;}
.fsBody.fsEmbed .fsLabel.fsRequiredLabel,
.fsBody.fsEmbed .fsLabel,
.fsBody.fsEmbed .fsForm .fsLabel, 
.fsBody.fsEmbed .fsForm .fsOptionLabel, 
.fsBody.fsEmbed .fsForm .fsMatrix th, 
.fsBody.fsEmbed .fsForm .fsMatrixLabel{
	color:#fff;
	font-family:inherit;
	margin-bottom:2px;
}
.fsBody.fsEmbed #fsPage2273949-1 .fsSupporting.fsRequiredLabel,
.fsBody.fsEmbed #ffsPage2273949-1 .fsForm .fsSupporting{color:#333;}
.fsBody.fsEmbed #fsPage2273949-1 .fsLabel{color:#000;}
.fsBody.fsEmbed .fsSupporting.fsRequiredLabel,
.fsBody.fsEmbed .fsForm .fsSupporting{color:#fff; margin-bottom:10px;}
.fsBody.fsEmbed .fsLabel.fsRequiredLabel .fsRequiredMarker{color:#f00;}
.fsForm{background-color:#fff;}
.fsSubmit{padding:0 0 10px 0;}
.fsSectionText h2{
	
}
.fsSectionText h3 .fa{
	margin-left:5px;
	padding:5px;
}
.fsCell{margin: -10px 0px;}
#field41302625M, #field41302625D, #field41302625Y, #field41302645M, #field41302645D, #field41302645Y, #field41302648M, #field41302648D, #field41302648Y, #field42541967M, #field42541967D, #field42541967Y {width:auto;}
#field41309312{max-width:50%;}


input[type="radio"], 
input[type="checkbox"]{float:left;}
.page .gform_wrapper{width:100%;}
.page .gform_heading{display:none;}
.page .gform_wrapper .gfield_required{
	color:#F00;
	font-weight:700;
}
.gform_wrapper{
	background:#000;
	padding:20px;
}
.hidden_label > label{display:none;}
.ginput_complex .ginput_full,
.ginput_complex .ginput_left,
.ginput_complex .ginput_right{
	display:block;
	margin-bottom:15px;
}
.gfield_radio label{margin-left:5px;}
.ui-datepicker{
	background:#fff;
	border:1px solid #666;
	border-radius:4px;
}
.ui-datepicker-header{
	background-color:#222;
	padding:5px;
}
.ui-datepicker-header a{
	color:#FFF;
	cursor:pointer;
	text-decoration:underline;
}
.ui-datepicker-header a:hover,
.ui-datepicker-header a:focus{
	color:#F2F2F2;
	cursor:pointer;
}
.ui-datepicker-title option{color:#333;}
.ui-datepicker-next,
.ui-datepicker-year{float:right;}
.ui-datepicker th,
.ui-datepicker td{text-align:center;}
.ui-datepicker table{background-color:#000;}
.ui-datepicker table > tbody > tr:nth-child(2n+1) > td, 
.ui-datepicker table > tbody > tr:nth-child(2n+1) > th{background-color:#282828;}
.ui-datepicker table > tbody > tr > td, .table > tbody > tr > th, 
.ui-datepicker table > tfoot > tr > td, .table > tfoot > tr > th, 
.ui-datepicker table > thead > tr > td, .table > thead > tr > th{
	border-top:1px solid #ddd;
	line-height:1.42857;
	padding:5px;
	vertical-align:top;
}
.ui-datepicker-month,
.ui-datepicker-year{color:#000;}
.ui-datepicker table, 
.ui-datepicker table > tbody > tr > td, 
.ui-datepicker table > tbody > tr > th, 
.ui-datepicker table > tfoot > tr > td, 
.ui-datepicker table > tfoot > tr > th, 
.ui-datepicker table > thead > tr > td, 
.ui-datepicker table > thead > tr > th{border:1px solid #ddd; color:#fff;}
.name_first input{margin-bottom:15px;}

/* ------------------------------------
Gravity Forms Bootstrap
Help from https://gist.githubusercontent.com/DevinWalker/7110951/raw/8f6863c52df3cc0d627bb1e18e9cb832b5ecf395/gravity-forms_bootstrap
---------------------------------------*/
#field_5_14{margin-top:30px;}
.gform_wrapper ul{
	padding-bottom:20px;
	padding-left:15px; 
	padding-top:10px;
	list-style:none;
}
#input_5_16_other{
	margin-left:5px;
	width:97%
}
.gform_wrapper li{margin-bottom:5px;}
.gform_wrapper form {margin-bottom:0;}
.gform_wrapper .gfield_required{
	padding-left:1px; 
	color:#b94a48;
}
.ginput_container input[type="text"], 
.ginput_container select, 
.ginput_container textarea,
.ginput_container input[type="email"],
.ginput_container input[type="tel"],
.ginput_container input[type="url"]{
	background-color:#fff; 
	border:1px solid #ccc; 
	border-radius:4px;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075); 
	color:#555; 
	display:block;
	font-size:14px;
	height:34px; 
	line-height:1.428571429;
	padding:6px 12px; 
	transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	width:100%; 
	vertical-align:middle; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);  
	-webkit-transition:border-color ease-in-out .15s, box-shadow ease-in-out .15s; 
}
.ginput_container textarea,
.ginput_container input[type="text"]{margin-bottom:15px;}
.ginput_container input[type="checkbox"]{margin-right:5px;}
.ginput_container input:-moz-placeholder, 
.ginput_container select:-moz-placeholder, 
.ginput_container textarea:-moz-placeholder{color:#999}
.ginput_container input::-moz-placeholder, 
.ginput_container select::-moz-placeholder, 
.ginput_container textarea::-moz-placeholder{color:#999}
.ginput_container input:-ms-input-placeholder, 
.ginput_container select:-ms-input-placeholder, 
.ginput_container textarea:-ms-input-placeholder{color:#999}
.ginput_container input::-webkit-input-placeholder, 
.ginput_container select::-webkit-input-placeholder, 
.ginput_container textarea::-webkit-input-placeholder{color:#999}
.ginput_container input:focus, 
.ginput_container select:focus, 
.ginput_container textarea:focus{ 
	border-color:#66afe9;
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
	outline:0; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6); 
}
.ginput_container input[disabled], 
.ginput_container select[disabled], 
.ginput_container textarea[disabled], 
.ginput_container input[readonly], 
.ginput_container select[readonly], 
.ginput_container textarea[readonly], 
fieldset[disabled] .ginput_container input, 
fieldset[disabled] .ginput_container select, 
fieldset[disabled] .ginput_container textarea{
	background-color:#eee; 
	cursor:not-allowed;
}
textarea.ginput_container input, 
textarea.ginput_container select, 
textarea.ginput_container textarea{height:auto;}
.ginput_container textarea{height:auto;}
.gform_wrapper .gfield_error .gfield_label{color:#b94a48;}
.gform_wrapper .gfield_error input, 
.gform_wrapper .gfield_error select, 
.gform_wrapper .gfield_error textarea{ 
	background-color:#f2dede; 
	border-color:#eed3d7;
	color:#b94a48; 
}
.gform_wrapper .gfield_error input:focus, 
.gform_wrapper .gfield_error select:focus, 
.gform_wrapper .gfield_error textarea:focus{ 
	border-color:#b94a48; 
	box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(185,74,72,0.6);
	outline:0; 
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(185,74,72,0.6); 
}
.validation_error{ 
	background-color:#f2dede; 
	border:1px solid transparent; 
	border-color:#eed3d7; 
	border-radius:4px;
	color:#b94a48; 
	margin-bottom:20px; 
	padding:15px; 
}
.validation_error h4{ 
	color:inherit;
	margin-top:0; 
}
.validation_error .alert-link {font-weight: bold;}
.validation_error>p, .validation_error>ul{margin-bottom:0;}
.validation_error>p+p{margin-top:5px;}
.validation_error hr{border-top-color:#e6c1c7}
.validation_error .alert-link{color:#953b39}
#gforms_confirmation_message{ 
	border:1px solid transparent; 
	border-radius:4px;
	margin-bottom:20px; 
	padding:15px; 
}
#gforms_confirmation_message h4{ 
	color:inherit;
	margin-top:0;
}
#gforms_confirmation_message .alert-link{font-weight: bold;}
#gforms_confirmation_message>p, #gforms_confirmation_message>ul{margin-bottom:0;}
#gforms_confirmation_message>p+p{margin-top:5px;}
.gfield_label{
	font-size:14px;
	margin-bottom:5px; 
}
.gform_validation_container,
.gform_wrapper .gform_validation_container,
body .gform_wrapper li.gform_validation_container,
body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container,
body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container{
	display:none!important;
	left:-9000px;
	position:absolute!important;  
}
.button.gv-search-button,
.gv-search-box input{color:#000;}
/*gravityview*/
.page-id-2718 .gv-list-view,
.page-id-12 .gv-list-view{
	background:#000;
	border-color:#A0A0A0;
}
.page-id-12 .gv-list-view-title,
.page-id-2718 .gv-list-view-title,
.page-id-2718 .gv-list-view-footer,
.page-id-12  .gv-list-view-footer{
	background-color:#000;
	background-image:linear-gradient(to bottom, #333333 0px, #000 100%);
}
/*ribbon*/
.bt.trailers {position:relative;}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 125px; height: 125px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 120px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#F70505 0%, #8F0808 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 25px; left: -25px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #8F0808;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #8F0808;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #8F0808;
}
/*360 Rotation*/

.trailerplayer{/*display:none;*/ margin-top:-120px;}
.trailerplayertest{/*display:none;*/ margin-top:-120px;}
.trailerplayer-heavy-equipment{/*display:none;*/ margin-top:-250px;}
.trailerplayer-gooseneck{/*display:none;*/ margin-top:-275px;}
.trailerplayer-dump{/*display:none;*/ margin-top:-175px;}
.trailerplayer-auto-transport{/*display:none;*/ margin-bottom:25px;}
.trailerplayer-tandem-axle{/*display:none;*/}
.trailerplayer-single{/*display:none;*/}
.trailerplayer-equipment{/*display:none;*/ margin-top:-30px;}
.trailerplayer-14ET{/*display:none;*/ margin-top:-75px;}
@media print{
	nav,
	footer,
	video,
	audio,
	object,
	embed,
	aside,
	.carousel,
	#myModal,
	.nav,
	img{display:none;}
	@page{margin:0.8cm;}
	body{
		background:#FFF;
		color:#000;
		font:12pt "Georgia", Times New Roman, Times, serif;
		line-height: 1.3;
	}
	*{
		background:transparent!important;
		color:#000!important; /* Black prints faster: h5bp.com/s */
		box-shadow:none!important;
		border:none!important;
		float:none!important;
		text-shadow:none!important;
		font-family:"Georgia", Times New Roman, Times, serif!important;
		height:auto!important;
		margin:0!important;
		padding:0!important;
		text-align:left!important;
		text-indent:0!important;
		width:auto!important;
	}
	.container{
		width:100%; 
		margin:0; 
		float:none;
	}
	h1, h2, h3, h4, h5, h6{font-family:"Georgia", Times New Roman, Times, serif;}
	header h1 a{font-size:30pt;}
	header:after{content:"www.bigtextrailers.com";}
	header{height:auto;}
	h1{font-size:24pt;}
	h2{
		font-size:14pt;
		margin-top:25px;
	}
	aside h2{font-size:18pt;}
	a{
		color:#000;
		font-weight:bold;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
     .btBox .imgBox{min-height:20px;}
}
/*phones*/
@media(max-width:767px){
	.navbar-default.bt .devider{display:none;}
	#homeSlider .caption{width:auto;}
	.postInfo{padding:20px 5px;}
	.category .col-xs-12.col-sm-6 h3{margin-top:15px;}
	.livechat{
		right:2em;
		width:60px;
	}
	.MegaRampsLogo {display:none!important;}
	
	#gform_wrapper_4.gform_wrapper li{width:100%;}
	.menu-trailers-container a, 
	.menu-trailer-options-container a, 
	.menu-quick-links-container a{
		display:block;
		padding:8px 0;
	}
	#field41309312{max-width:100%;}
       .holiday-rebate-form label.fsOptionLabel {
    border: 1px solid #cfd4d8;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: #000;
}
.terms-conditions {
    
    font-size: 9px;
	padding-top:7px;
}
.qualifiers{/*display:none;*/}
.haul-in {
   
    font-size: 18px;
}
.mail-box-address {
    
    font-size: 14px;
}
.mainholiday{background: #fff; margin-top:240px;}

.by-mail-section, .by-electron-section {
    margin-top: 60px;
}

.haul-in{font-size:16px;}

.terms-conditions {
    
    font-size: 6px;
	padding-top:0px;
}
.nfr-white-body {
    background-image: none;   
	background: #fff;
    
}	
	.holiday-button{margin-bottom: 20px;}
	.gift-card-section {    
    margin-top: -1px;
}
	.back-home{margin-bottom:20px;}
.referral-form .fsBody .fsForm .fsSectionHeading {
    font-size: 19px;
    font-weight: 700;
    line-height: 44px;
    line-height: 36px;
}

}
/*iphone vertical*/
@media (max-width: 304px){
.StillwellVideo {max-width:100%;}
.StillBlackDiv {display:none!important;}
.trailerplayer-single {   	
    	min-height: 150px;
	}



}
/*iphone horizontal /*305x767*/
@media only screen and (min-width: 305px) and (max-width: 766px){
.trailerplayer-single {   	
    	margin-bottom: 50px;
	}
.terms-conditions {
    
    font-size: 7px;
	padding-top:14px;
}
}

/*tablets /*768x1024*/
@media only screen and (min-width: 767px) and (max-width: 1024px){
	.navbar-default.bt .devider{display:none;}
	.bt .nav>li>a{
		font-size:12px;
		padding:15px 5px;
	}
	.StillLogo {position: absolute;
	left: 118px!important;
	z-index: 55;}
	#gform_submit_button_4{font-size:14px;}
	.menu-trailers-container a,
	.menu-trailer-options-container a, 
	.menu-quick-links-container a{
		display:block;
		padding:8px 0;
	}
	#field41309312{max-width:100%;}
	.terms-conditions {
    
    font-size: 8px;
}
.highlight-green{font-size:8px;}
.mainholiday{background: #fff; margin-top:20px;}
.haul-in{font-size:20px;}	
.social-menu{margin-top:-155px; padding-left:0;}
.nfr-social-menu {
    color: #000;
    margin-top: -202px;
    padding-left: 0px;
}

.nfr-white-body {
    background: url(/wp-content/uploads/2016/11/nfr-haulidays-header-bg.png) #fff 0px -502px;
    background-repeat: repeat-x;
    color: #000;
}
.haulidays-logo{padding-top:30px;}
.close-button{display:none;}
.haulidazeBtn{display:none;}
}
/*--------------------------------------------------IPAD PORTRAIT--------------------------------------------*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
		.haulidays-logo{padding-top:30px;}
.PgConx.container {width:1024px!important;}

}
/*desktops*/
@media(min-width:1024px){
	.bt .nav>li>a{padding:15px 12px;}
	.slogan{
		font-size:20px;
		margin:0 20px 0 0;
	}

}
/*large desktops*/
@media(min-width:1200px){
	.bt .nav>li>a{padding:15px 25px;}
	.btBox{min-height:386px;}
	.slogan{font-size:26px;}
	.Xmastwo {margin-left:225px!important;}
}
/*firefox specific hack for responsive tables*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/*Spalsh Page Buttons*/

.Minfo {text-align:center;}


.myButton {
	margin-top:10px;
	margin-bottom:10px;
	width:250px;
	background-color:#fff200;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:10px 10px;
	text-decoration:none;
}

.myButton p {margin-bottom:0;}
.myButton:hover {
	background-color:#f7e818;
	color:#000;
	text-decoration: none;
}
.myButton:active {
	position:relative;
	top:1px;
	text-decoration: none;
}

.myButton:active a {text-decoration: none;}


.CWinner .fsBody.fsEmbed {max-width:960px; background-color:#000!important;}
.fsBody.fsEmbed img {max-width:900px;}
#fsForm2519048 {background-color:#000!important;}

body.page-id-4171 .container{
width: 1180px;
} 
body.page-id-4171 .main{
padding:0px;
background-image:none;
background-color:#221c1e;
} 
body .ytp-popup.ytp-generic-popup{display:none !important;}
.StillwellVideo {text-align:center;width:100%;height:100%;}
.page-id-4423 .content {padding-top:0px;}
.page-id-4423 .subheader {display:none;}
/*--------------------------------------------------Conexpo--------------------------------------------*/
.Conxpo .fsBody.fsEmbed {background-image: -ms-linear-gradient(top, #615C01 25%, #000000 95%);

background-image: -moz-linear-gradient(top, #615C01 25%, #000000 95%);

background-image: -o-linear-gradient(top, #615C01 25%, #000000 95%);

background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25, #615C01), color-stop(95, #000000));

background-image: -webkit-linear-gradient(top, #615C01 25%, #000000 95%);

background-image: linear-gradient(to bottom, #615C01 25%, #000000 95%);}
.PgConx.container {max-width:1024px!important;}
.PgConx .main {max-width:1024px!important;}
.Pillon {
   position:absolute; 
   left:260px;
   padding-bottom:20px;}
#fsForm2615539 {padding-top:70px;}
#fsSubmitButton2615539{color:#000!important;}
.YetiTextRight{position: absolute;
text-align:center;
top: 54px;
left: 27px;
width: 340px;}
.YetiTextRight h4 {color:#fff;}
.YetiTextRight h3 {color:#fff;}
.YetiSponsor{color:#f5e00e; font-size:19px;}
.YetiImgLeft {margin-left:85px;}
.YetiTextLeft {
	position: absolute;
	top:50px;
	width: 323px;
	left: 122px;
	font-size: 8px;
	}
.FooterCaution {position:absolute; bottom:70px !important;}
.YetiCopyright {
    position: absolute;
    bottom: 86px;
    z-index:5;
}
/*--------------------------------------------------Stillwell--------------------------------------------*/

.page-id-4493  h2.subheader{display:none;}
.StillwellContent{padding-top:100px!important;
}
.StillwellContent h2.subheader {display:none;}

.StlVideo {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.StlVideo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.mainStill{
	background:#000;
	background-repeat:repeat-x;
	padding:0 30px;
}
.StlVideo {text-align:center; padding-top:75px;}
.page-id-4493 .ytp-title-text{display:none;}
.page-id-4493 .ytp-chrome-top, .ytp-chrome-bottom{display:none;}
.StillWhiteBack {background-color:#fff!important; color:#000; text-align:center;}

.StillWhiteBack {padding-top:20px; padding-bottom:20px;}
.Middleimage2 .img-responsive {margin:auto!important;}



        .StillTopWords {color:#000!important;}
	

	.StillWhiteBack h4{margin-top:0px; margin-bottom:0px; text-size:10px; color:#1c1f20;line-height:0.5;}
	.StillWhiteBack h2{margin-top:0px; margin-bottom:20px; color:#1c1f20;line-height:0.5;}
        .StillWhiteBack br {line-height:1px;}
	.StillWhiteBack h3 {color:#1c1f20;}
	.StillFeaturesBullets {padding-left:0px!important;}
	.StillWhiteBack span.14LXTag {color:#fff!important;}


.css_btn_class {
	font-size:13px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #d83526;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	background:-ms-linear-gradient( top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fe1a00), color-stop(100%, #ce0100) );
	background-color:#fe1a00;
	color:#ffffff;
	display:inline-block;
}.css_btn_class:hover {
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	background:-ms-linear-gradient( top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ce0100), color-stop(100%, #fe1a00) );
	background-color:#ce0100;
	color:#fff;
	text-decoration:none!important;
}.css_btn_class:active {
	position:relative;
	top:1px;
}

.StillBgimage {background-color:#0f0f0f!important;}
.page-id-4493 .ytp-title-text{display:none!important;}

.StillBlackDiv {height:115px;}

.StillLogo{position: absolute;
left: 324px;
z-index: 55;}

.StillwellHomeTxt {text-align:left!important;}
/* End of Stillwell Landing page */

/****************************** Mega Ramps Landing page *****************************************************/
.MegaWhiteBack {background-color:#fff!important;}
.MegaFirstMainImage {padding-top:35px; padding-bottom:35px;}
.MegaRampLists {text-align:center; padding-left: 0px;}
.MegaRampLists li {list-style-position:inside; font-weight:600;}

.MGrmpsection {background-color:#fff; color:#000; padding-top:30px; padding-bottom:30px;}
.MegaRamph4 {color:#000; text-align:center;}

.MegaRampsLogo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
	top:30px;
	left: 0;
	right: 0;
	z-index:5;
}
.MegawtBack {background-color:#000;}
.BTlogoMega {padding-left:40px; padding-top:10px;}
.MegaRampLogo2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:25px;
}
.MRverbage {text-align:center!important;
color:#000!important;}
.MRverbage a{color:#ff0000!important;}

.page-id-4532 p {text-align:center!important;}
.MegaDisclaim {text-size:10px; text-align:center;}
.RdNoter {color:#fe4000;}

/****************************** Blackwood Landing page *****************************************************/

.Fetimg {padding-bottom:50px; padding-top:35px;}
.Blktmodels {padding-bottom:35px;padding-top:35px;}
.blktrailers {padding-top:35px;}
.RDblkwood {color:#ed1c24;}
.TrilerRow {padding-bottom:35px;}