.text-left{text-align:left;}
.text-right{text-align:right;}
.text-center{text-align:center;}
.text-justify{text-align:justify;}
.text-muted{color:#999999;}
.text-primary{color:#428BCA;}
.text-success{color:#3C763D;}
.text-info{color:#31708F;}
.text-warning{color:#8A6D3B;}
.text-danger{color:#A94442;}
.bg-primary{
	background-color:#428BCA;
  color:#FFF;
}
.bg-success{background-color:#DFF0D8;}
.bg-info{background-color:#D9EDF7;}
.bg-warning{background-color:#FCF8E3;}
.bg-danger{background-color:#F2DEDE;}
.uppercase{text-transform:uppercase;}
.rightuppercase{
	text-align:right;
	text-transform:uppercase;
}
.leftuppercase{
	text-align:left;
	text-transform:uppercase;
}
.centeruppercase{
	text-align:center;
	text-transform:uppercase;
}